.rotate{
    transform: rotate(30deg) 
    translatex(20px) translateY(-80px);

}

.rotate-dark{
    position: relative;
    transform: rotate(30deg) 
    translatex(200%) translateY(-130%);
    
}

.trans-bg {position: ;
    transform: rotate(30deg) 
    translatex(-200%) translateY(130%);
z-index: 100;
}
:root{font-size: 20px;}